@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
}



h5{
    font-size: 20px;
    
}

li{
    list-style: none;
}

nav{
    background-color: #fff;
    background: radial-gradient(circle, #5e3bee, #357bb8); /**Gradient (Add linear-gradient)**/
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo a,
footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img{
    width: 40px;
    height: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    gap: 40px;
}
/*Structural selectors*/
ul li:first-child {
    font-weight: bold;
    color: #5e3bee;
}

/* Negation Pseudo-Class (:not())**/
img:not([alt*="logo"]) {
    border: 3px solid #5e3bee; 
}

/* Define keyframes for fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/** Home section **/
.main {
    /* semi-transparent light blue */  
   background-color: rgba(173, 216, 230, 0.7);
   animation: fadeIn 2s ease; /*Transforms*/
   padding: 90px 85px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
}

.main .left {
   display: flex;
   flex-direction: column;
   align-items: start;
}

.main .left h3 {
   margin-top: 10px;
   font-weight: bold;
   font-size: 46px;
}

.main .left h3 span {
   color: #5e3bee;
}

.main .left p {
   color: #1c1e53;
   font-size: 22px;
   margin-top: 20px;
}

.main .right img {
   width: 500px;
   border-radius: 1%;
}

/* Light shadow for a 3D effect */
.left h1,
.left h3,
.left p {
   margin: 0 0 20px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
   
}


/* Pseudo-Elements */
h1::after {
   content: " - Full Stack Developer";
   font-size: 14px;
   color: #666;
}


/* Social Media Links below left section */
.social-media-links {
   margin-top: 20px;
   text-align: left;
}

.social-media-links a {
   display: inline-block;
   text-decoration: none;
   font-size: 18px;
   margin-right: 15px;
}


/* Attribute selector: target links with href */
a[href*="linkedin"] {
   color: #0e76a8;
}

a[href*="github"] {
   color: #333;
}

a[href*="instagram"] {
   color: #e4405f;
}

/**About section**/
.about{
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left{
    background-color: #deebee;
    border-radius: 10px 10px 0 0;
}

.about .left img{
    width: 440px;
    border-radius: 2%;
}

.about .right p{
    font-size: 16px;
    margin-top: 30px;
}

/*  Relational Selector (+ or ~) */
h1 + p {
    color: #555;
}


/**Portfolio section**/
.portfolio{
    background-color: rgba(173, 216, 230, 0.7); 
    padding: 110px 85px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #5e3bee;
    /**Transforms**/
    transform: scale(1.05); 
    
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
}

.portfolio .portfo-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

/** Nth Pseudo-Class (:nth-child()) **/
.portfolio .portfo-items .item:nth-child(3n) { 
    background-color: #fcecec;
}
